<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Cuentas dispersión de impuestos
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="account in vm.collectionAccounts">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Cuenta de Dispersión {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Código</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="code{{$index}}" type="text" class="form-control" maxlength="7" ng-model="account.identificationNumber">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.code{{$index}}.$error.required">
                                                                Debe selecionar un tipo de cuenta recaudo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Tipo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <select name="type{{$index}}" class="form-control" ng-model="account.type">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.types" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.accountNumber{{$index}}.$error.required">
                                                                Debe especificar el numero de cuenta
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Tipo de Identificación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="idType{{$index}}" class="form-control" ng-model="account.idType">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.idTypes" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.idType{{$index}}.$error.required">
                                                                Debe selecionar un tipo de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Número de Identificación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="identificationNumber{{$index}}" type="text" class="form-control" maxlength="15" ng-model="account.identificationNumber">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.identificationNumber{{$index}}.$error.required">
                                                                Debe especificar el numero de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Digito de Verificación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="identificationDigit{{$index}}" type="text" class="form-control" maxlength="15" ng-model="account.identificationDigit">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.identificationDigit{{$index}}.$error.required">
                                                                Debe especificar el digito de verificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Código Banco</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="bankCode{{$index}}" type="text" class="form-control" maxlength="4" ng-model="account.bankCode">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.bankCode{{$index}}.$error.required">
                                                                Debe especificar un banco
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Cuenta</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="account{{$index}}" type="text" class="form-control" maxlength="16" ng-model="account.account">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.account{{$index}}.$error.required">
                                                                Debe especificar el numero de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Tipo de Cuenta</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="accountType{{$index}}" class="form-control" ng-model="account.accountType">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.typeAccounts" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>

                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.accountType{{$index}}.$error.required">
                                                                Debe especificar un tipo de cuenta
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Teléfono contacto</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="telephoneContact{{$index}}" type="text" maxlength="10" class="form-control" ng-model="account.telephoneContact">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.telephoneContact{{$index}}.$error.required">
                                                                Debe especificar un Teléfono contacto
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Nombre Contacto</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="nameContact{{$index}}" type="text" class="form-control" ng-model="account.nameContact">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.nameContact{{$index}}.$error.required">
                                                                Debe especificar el numero de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Devolución Dispersión</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="returnDispersion{{$index}}" type="text" class="form-control" ng-model="account.returnDispersion">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.returnDispersion{{$index}}.$error.required">
                                                                Debe especificar un tipo de cuenta
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addAccount()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteAccount($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-3 control-label">
                                        <p class="text-left">Cargar Archivo de Municipios</p>
                                    </label>
                                    <div class="col-md-9">
                                        <input name="file" type="file" class="form-control" ng-model="vm.file">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.file.$error.required">
                                            Debe especificar el porcentaje de convenio de recaudo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <button type="button" class="btn btn-primary center-block">Guardar</button>
                    </div>

                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
