<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Cuentas de recaudo para recaudo dirigido a más de una cuenta
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="account in vm.collectionAccounts">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Cuenta de Recaudo {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Tipo de Cuenta</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="type{{$index}}" class="form-control" ng-model="account.type">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.types" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.type{{$index}}.$error.required">
                                                                Debe selecionar un tipo de cuenta recaudo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Número Cuenta</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="accountNumber{{$index}}" type="text" maxlength="18" class="form-control" ng-model="account.accountNumber">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.accountNumber{{$index}}.$error.required">
                                                                Debe especificar el numero de cuenta
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-8 control-label">
                                                            <p class="text-left">Porcentaje de Recaudo</p>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input name="percentageAgrement{{$index}}" type="text" class="form-control" ng-model="account.percentageAgrement">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.percentageAgrement{{$index}}.$error.required">
                                                                Debe especificar el porcentaje de recaudo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Tipo de Identificación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="idType{{$index}}" class="form-control" ng-model="account.idType">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.idTypes" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.idType{{$index}}.$error.required">
                                                                Debe selecionar un tipo de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-8 control-label">
                                                            <p class="text-left">Número de Identificación</p>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input name="identificationNumber{{$index}}" type="text" class="form-control" maxlength="15" ng-model="account.identificationNumber">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.identificationNumber{{$index}}.$error.required">
                                                                Debe especificar el numero de identificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-8 control-label">
                                                            <p class="text-left">Digito de Verificación</p>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input name="identificationDigit{{$index}}" type="text" class="form-control" maxlength="15" ng-model="account.identificationDigit">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.identificationDigit{{$index}}.$error.required">
                                                                Debe especificar el digito de verificación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addAccount()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteAccount($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-8 control-label">
                                        <p class="text-center">Porcentaje % Total del Conv. De Recaudo. La suma del porcentaje dirigido a las cuentas debe ser igual a 100% incluyendo la cuenta principal.</p>
                                    </label>
                                    <div class="col-md-4">
                                        <input name="PercentageCollection" type="text" class="form-control" maxlength="15" ng-model="vm.PercentageCollection">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.PercentageCollection.$error.required">
                                            Debe especificar el porcentaje de convenio de recaudo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <button type="button" class="btn btn-primary center-block">Guardar</button>
                    </div>

                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
