<ol class="breadcrumb">
    <li><a ui-sref="templateAuth.home">Administrador de Solicitudes</a></li>
    <li class="active">Consulta de solicitudes</li>
</ol>

<form class="form-horizontal" name="editRequest" role="form">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="tipo_solicitud" class="col-md-4 control-label">Tipo de Convenio</label>
                <div class="col-md-8">
                    <select name="typeRequest" class="form-control" ng-change="vm.changeTypeRequest()" ng-model="vm.typeRequest" required>
                        <option value="">Seleccione una opción</option>
                        <option ng-repeat="x in vm.typeRequests" value="{{x.value}}">{{x.nombre}}</option>
                    </select>
                    <span class="control-label error-mensaje" ng-show="!editRequest.$pristine && editRequest.typeRequest.$error.required">Debe selecionar un tipo de convenio</span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" ng-click="vm.continuar()" ng-disabled="!editRequest.$valid" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</form>
