<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Terminal Financiero
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Cobertura del Servicio</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="type" ng-change="vm.changeType()" class="form-control" ng-model="vm.type">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.types" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.type.$error.required">
                                            Debe selecionar una cobertura del servicio
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Todas las Oficinas</p>
                                    </label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input name="allOffices" type="radio" ng-model="vm.allOffices" ng-value=true>Si
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.allOffices.$error.required">
                                            Debe selecionar oficinas
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="vm.statusOffice">
                            <div ng-repeat="code in vm.offices">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="numero_identificacion" class="col-md-6 control-label">
                                                <p class="text-left">Oficina</p>
                                            </label>
                                            <div class="col-md-6">
                                                <input name="officeCode" type="text" maxlength="4" ng-model="code.officeCode" class="form-control" />
                                                <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.officeCode.$error.required">
                                            Debe especificar un codigo de oficina
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" ng-click="vm.deleteOficce($index)" class="btn btn-primary">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="button" ng-click="vm.addOficce()" class="btn btn-primary ">Agregar</button>
                                </div>
                            </div>

                            <div class="row">
                                <button type="button" class="btn btn-primary center-block">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
