<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Parámetros Especiales de Impuestos
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-5 control-label">
                                        <p class="text-left">Valor Adicional</p>
                                    </label>
                                    <div class="col-md-7">
                                        <select name="additionalValue" class="form-control" ng-model="vm.additionalValue">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.additionalValues" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.additionalValue.$error.required">
                                            Debe especificar Valor Adicional
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Autoadhesivo</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="autoadhesive" class="form-control" ng-model="vm.autoadhesive">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.autoadhesives" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.autoadhesive.$error.required">
                                            Debe especificar Autoadhesivo
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Tamaño Formato Autoadhesivo</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="formatAutoadhesive" class="form-control" ng-model="vm.formatAutoadhesive">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.formatAutoadhesives" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.formatAutoadhesive.$error.required">
                                            Debe especificar Tamaño Formato Autoadhesivo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-5 control-label">
                                        <p class="text-left">Reciprocidad</p>
                                    </label>
                                    <div class="col-md-7">
                                        <label class="radio-inline">
                                            <input name="reciprocity" type="radio" ng-model="vm.reciprocity" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="reciprocity" type="radio" ng-model="vm.reciprocity" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.reciprocity.$error.required">
                                            Debe especificar Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-5 control-label">
                                        <p class="text-left">Tipo de Derrama</p>
                                    </label>
                                    <div class="col-md-7">
                                        <select name="contributionType" class="form-control" ng-model="vm.contributionType">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.contributionTypes" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.contributionType.$error.required">
                                            Debe especificar Tipo de Derrama
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Dispersión</p>
                                    </label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input name="dispersion" type="radio" ng-model="vm.dispersion" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="dispersion" type="radio" ng-model="vm.dispersion" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.dispersion.$error.required">
                                            Debe especificar dispersion
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p class="text-center title-speciel">Dias de Reciprocidad</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Departamento</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="departmentReciprocity" type="text" class="form-control" maxlength="3" ng-model="vm.departmentReciprocity">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.departmentReciprocity.$error.required">
                                            Debe especificar un Departamento de Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Municipio</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="municipalityReciprocity" type="text" class="form-control" maxlength="3" ng-model="vm.municipalityReciprocity">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityReciprocity.$error.required">
                                            Debe especificar un Municipio de Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Conv. Asociado</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="reciprocityAssociatedAgreement" type="text" class="form-control" maxlength="15" ng-model="vm.reciprocityAssociatedAgreement">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.reciprocityAssociatedAgreement.$error.required">
                                            Debe especificar un Conv. Asociado Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p class="text-center title-speciel">Tipo de Días</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Departamento</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="departmentTypeDays" class="form-control" ng-model="vm.departmentTypeDays">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.departmentTypesDays" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.departmentTypeDays.$error.required">
                                            Debe especificar un Departamento 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Municipio</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="municipalityTypeDay" class="form-control" ng-model="vm.municipalityTypeDay">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.municipalityTypesDay" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityTypeDay.$error.required">
                                            Debe especificar un Municipio de Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Conv. Asociado</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="associatedAgreementsTypeDays" class="form-control" ng-model="vm.associatedAgreementsTypeDays">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.associatedAgreementsTypesDays" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.associatedAgreementsTypeDays.$error.required">
                                            Debe especificar un Conv. Asociado Reciprocidad
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p class="text-center title-speciel">Porcentajes de Dispersión</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Departamento</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="departmentPercentage" type="text" class="form-control" maxlength="3" ng-model="vm.departmentPercentage">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.departmentPercentage.$error.required">
                                            Debe especificar un Departamento
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Municipio</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="municipalityPercentage" type="text" class="form-control" maxlength="3" ng-model="vm.municipalityPercentage">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityPercentage.$error.required">
                                            Debe especificar un Municipio
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Conv. Asociado</p>
                                    </label>
                                    <div class="col-md-8">
                                        <input name="PercentageAssociatedAgreement" type="text" class="form-control" maxlength="15" ng-model="vm.PercentageAssociatedAgreement">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.PercentageAssociatedAgreement.$error.required">
                                            Debe especificar un Conv. Asociado
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p class="text-center title-speciel">Cuentas de Espera</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-5 control-label">
                                        <p class="text-left">Departamento</p>
                                    </label>
                                    <div class="col-md-7">
                                        <label class="radio-inline">
                                            <input name="waitingAccountsDepartment" type="radio" ng-model="vm.waitingAccountsDepartment" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="waitingAccountsDepartment" type="radio" ng-model="vm.waitingAccountsDepartment" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.waitingAccountsDepartment.$error.required">
                                            Debe especificar Departamento
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-5 control-label">
                                        <p class="text-left">Municipio</p>
                                    </label>
                                    <div class="col-md-7">
                                        <label class="radio-inline">
                                            <input name="municipalityWaitingAccounts" type="radio" ng-model="vm.municipalityWaitingAccounts" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="municipalityWaitingAccounts" type="radio" ng-model="vm.municipalityWaitingAccounts" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityWaitingAccounts.$error.required">
                                            Debe especificar Municipio
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="button" class="btn btn-primary center-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
