<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Información de Referencia
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Tipo de Campo</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="type" class="form-control" ng-change="vm.changeType()" ng-model="vm.type">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.types" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.type.$error.required">
                                            Debe selecionar un tipo de campo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- referencia -->
                        <div class="row" ng-show="vm.stateReference">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="reference in vm.references">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Referencia {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Descripción del Campo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <textarea name="description{{$index}}" class="form-control" rows="2" ng-model="reference.description"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                                Debe especificar una descripción
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Formato</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="format{{$index}}" class="form-control" ng-model="reference.format">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceFormats" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.format{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-7 control-label">
                                                            <p class="text-left">Longitud Campo</p>
                                                        </label>
                                                        <div class="col-md-5">
                                                            <input name="fieldLength{{$index}}" type="text" class="form-control" maxlength="15" ng-model="reference.fieldLength">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fieldLength{{$index}}.$error.required">
                                                                Debe especificar una longitud de campo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-8 control-label">
                                                            <p class="text-left">Longitud en Barras</p>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input name="barLength{{$index}}" type="text" class="form-control" maxlength="15" ng-model="reference.barLength">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.barLength{{$index}}.$error.required">
                                                                Debe especificar una longitud en barras
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Obligatorio</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="obligatoryField{{$index}}" class="form-control" ng-model="reference.obligatoryField">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceObligatoryFields" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.obligatoryField{{$index}}.$error.required">
                                                                Debe especificar un campo obligatorio
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Posición de Entrada</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="inputPosition{{$index}}" type="number" min="0" max="99" maxlength="2" class="form-control" ng-model="reference.inputPosition" oninput="this.value=this.value.slice(0,this.maxLength)">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.inputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de entrada
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Posición de Salida</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="outputPosition{{$index}}" type="text" class="form-control" maxlength="15" ng-model="reference.outputPosition">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.outputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de salida
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Caracter de Relleno</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="fillCharacter{{$index}}" class="form-control" ng-model="reference.fillCharacter">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceFillCharacters" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fillCharacter{{$index}}.$error.required">
                                                                Debe especificar un campo obligatorio
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Ayuda Rápida Campo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <textarea name="quickHelp{{$index}}" class="form-control" rows="2" ng-model="reference.quickHelp"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.quickHelp{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Alineación</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="alignment{{$index}}" class="form-control" ng-model="reference.alignment">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceAlignments" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.alignment{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="vm.isTax">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Municipio</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="municipalityField{{$index}}" type="radio" ng-model="reference.municipalityField" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="municipalityField{{$index}}" type="radio" ng-model="reference.municipalityField" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityField{{$index}}.$error.required">
                                                                Debe especificar Impuesto Sobretasa
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Impuesto Sobretasa</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="taxOver{{$index}}" type="radio" ng-model="reference.taxOver" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="taxOver{{$index}}" type="radio" ng-model="reference.taxOver" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.taxOver{{$index}}.$error.required">
                                                                Debe especificar Impuesto Sobretasa
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Rutina Validación</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <select name="routineValidation{{$index}}" class="form-control" ng-model="reference.routineValidation">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceRoutineValidations" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.routineValidation{{$index}}.$error.required">
                                                                Debe especificar una rutina de validación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addReference()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteReference($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end referencia -->

                        <!-- adicional -->
                        <div class="row" ng-show="vm.stateAdditional">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="additional in vm.additionals">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Referencia Adicional {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Descripción del Campo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <textarea name="description{{$index}}" class="form-control" rows="2" ng-model="additional.description"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                                Debe especificar una descripción
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Formato</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="format{{$index}}" class="form-control" ng-model="additional.format">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceFormats" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.format{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-7 control-label">
                                                            <p class="text-left">Longitud Campo</p>
                                                        </label>
                                                        <div class="col-md-5">
                                                            <input name="fieldLength{{$index}}" type="text" class="form-control" maxlength="15" ng-model="additional.fieldLength">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fieldLength{{$index}}.$error.required">
                                                                Debe especificar una longitud de campo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Obligatorio</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="obligatoryField{{$index}}" class="form-control" ng-model="additional.obligatoryField">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceObligatoryFields" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.obligatoryField{{$index}}.$error.required">
                                                                Debe especificar un campo obligatorio
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Posición de Entrada</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="inputPosition{{$index}}" type="number" min="0" max="99" maxlength="2" class="form-control" maxlength="15" ng-model="additional.inputPosition" oninput="this.value=this.value.slice(0,this.maxLength)">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.inputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de entrada
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Posición de Salida</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="outputPosition{{$index}}" type="text" class="form-control" maxlength="15" ng-model="additional.outputPosition">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.outputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de salida
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Caracter de Relleno</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="fillCharacter{{$index}}" class="form-control" ng-model="additional.fillCharacter">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceFillCharacters" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fillCharacter{{$index}}.$error.required">
                                                                Debe especificar un campo obligatorio
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Ayuda Rápida Campo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <textarea name="quickHelp{{$index}}" class="form-control" rows="2" ng-model="additional.quickHelp"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.quickHelp{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Alineación</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="alignment{{$index}}" class="form-control" ng-model="additional.alignment">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceAlignments" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.alignment{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="vm.isTax">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Municipio</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="municipalityField{{$index}}" type="radio" ng-model="additional.municipalityField" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="municipalityField{{$index}}" type="radio" ng-model="additional.municipalityField" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.municipalityField{{$index}}.$error.required">
                                                                Debe especificar Impuesto Sobretasa
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Impuesto Sobretasa</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="taxOver{{$index}}" type="radio" ng-model="additional.taxOver" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="taxOver{{$index}}" type="radio" ng-model="additional.taxOver" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.taxOver{{$index}}.$error.required">
                                                                Debe especificar Impuesto Sobretasa
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Rutina Validación</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <select name="routineValidation{{$index}}" class="form-control" ng-model="additional.routineValidation">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.referenceRoutineValidations" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.routineValidation{{$index}}.$error.required">
                                                                Debe especificar una rutina de validación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addAdditional()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteAdditional($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- adicional -->

                        <!-- Valor Fijo -->
                        <div class="row" ng-show="vm.stateFixedValue">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="fixedValue in vm.fixedValues">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Valor Fijo {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Descripción del Campo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <textarea name="description{{$index}}" class="form-control" rows="2" ng-model="fixedValue.description"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                                Debe especificar una descripción
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Consecutivo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="consecutive{{$index}}" type="text" class="form-control" maxlength="15" ng-model="fixedValue.consecutive">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.consecutive{{$index}}.$error.required">
                                                                Debe especificar un consecutivo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Formato</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="format{{$index}}" class="form-control" ng-model="fixedValue.format">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.fixedValueFormats" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.format{{$index}}.$error.required">
                                                                Debe especificar un formato
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Longitud de Campo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="fieldLength{{$index}}" type="text" class="form-control" maxlength="2" ng-model="fixedValue.fieldLength">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fieldLength{{$index}}.$error.required">
                                                                Debe especificar una longitud de campo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Indicador de Importe</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="amountIndicator{{$index}}" type="radio" ng-model="fixedValue.amountIndicator" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="amountIndicator{{$index}}" type="radio" ng-model="fixedValue.amountIndicator" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.amountIndicator{{$index}}.$error.required">
                                                                Debe selecionar un indicador de importe
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Obligatorio</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <label class="radio-inline">
                                                                <input name="obligatoryField{{$index}}" type="radio" ng-model="fixedValue.obligatoryField" ng-value='B10'>Si
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input name="obligatoryField{{$index}}" type="radio" ng-model="fixedValue.obligatoryField" ng-value='B08'>No
                                                            </label>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.obligatoryField{{$index}}.$error.required">
                                                                Debe selecionar un indicador de importe
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Importe Mínimo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="minimumAmount{{$index}}" type="text" class="form-control" maxlength="18" ng-model="fixedValue.minimumAmount">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.minimumAmount{{$index}}.$error.required">
                                                                Debe especificar un importe minimo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Importe Máximo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="maximumAmount{{$index}}" type="text" class="form-control" maxlength="30" ng-model="fixedValue.maximumAmount">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.maximumAmount{{$index}}.$error.required">
                                                                Debe especificar un importe maximo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addFixedValue()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteFixedValue($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Valor Fijo -->

                        <!-- Fecha -->
                        <div class="row" ng-show="vm.stateDate">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="date in vm.dates">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Fecha {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Descripción Campo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <textarea name="description{{$index}}" maxlength="30" class="form-control" rows="2" ng-model="date.description"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                                Debe especificar una descripción
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Formato</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="format{{$index}}" class="form-control" ng-model="date.format">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.dateFormats" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.format{{$index}}.$error.required">
                                                                Debe especificar un formato
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Posición de Entrada</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="inputPosition{{$index}}" type="text" maxlength="2" class="form-control" maxlength="15" ng-model="date.inputPosition">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.inputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de entrada 
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Longitud Campo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="fieldLength{{$index}}" type="text" maxlength="2" class="form-control" maxlength="15" ng-model="date.fieldLength">
                                                                <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fieldLength{{$index}}.$error.required">
                                                                Debe especificar una longitud de campo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Alineación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="alignment{{$index}}" class="form-control" ng-model="date.alignment">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.dateAlignments" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.alignment{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Carácter de Relleno</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="fillCharacter{{$index}}" class="form-control" ng-model="date.fillCharacter">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.dateFillCharacters" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fillCharacter{{$index}}.$error.required">
                                                                Debe selecionar un caracter de relleno
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Longitud en Barras</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="lengthBars{{$index}}" type="text" maxlength="3" class="form-control" maxlength="15" ng-model="date.lengthBars">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.lengthBars{{$index}}.$error.required">
                                                                Debe selecionar una longitud en barras
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Ayuda Rápida Campo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <textarea name="quickHelp{{$index}}" maxlength="60" class="form-control" ng-model="date.quickHelp"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.quickHelp{{$index}}.$error.required">
                                                                Debe especificar un importe minimo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- por wiliam que nunca dice nada a tiempo  y todavia no dice las cosas a tiempo        
                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addDate()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteDate($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fecha -->

                        <!-- Valor -->
                        <div class="row" ng-show="vm.stateValue">
                            <div class="col-md-offset-1 col-md-10">
                                <div ng-repeat="value in vm.values">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Valor {{$index + 1 }}</p>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Descripción Campo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <textarea name="description{{$index}}" maxlength="30" class="form-control" rows="2" ng-model="value.description"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                                Debe especificar una descripción
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Formato</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select name="format{{$index}}" class="form-control" ng-model="value.format">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.valueFormats" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.format{{$index}}.$error.required">
                                                                Debe especificar un formato
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Posición de Entrada</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="inputPosition{{$index}}" type="text" maxlength="2" class="form-control" maxlength="15" ng-model="value.inputPosition">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.inputPosition{{$index}}.$error.required">
                                                                Debe especificar una posicion de entrada 
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-4 control-label">
                                                            <p class="text-left">Longitud Campo</p>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input name="fieldLength{{$index}}" type="text" maxlength="2" class="form-control" maxlength="15" ng-model="value.fieldLength">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fieldLength{{$index}}.$error.required">
                                                                Debe especificar una longitud de campo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Alineación</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="alignment{{$index}}" class="form-control" ng-model="value.alignment">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.valueAlignments" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.alignment{{$index}}.$error.required">
                                                                Debe especificar una alineación
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Carácter de Relleno</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select name="fillCharacter{{$index}}" class="form-control" ng-model="value.fillCharacter">
                                                                <option value="">Seleccione una opción</option>
                                                                <option ng-repeat="x in vm.valueFillCharacters" value="{{x.value}}">{{x.nombre}}</option>
                                                            </select>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fillCharacter{{$index}}.$error.required">
                                                                Debe selecionar un caracter de relleno
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Longitud en Barras</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="lengthBars{{$index}}" type="text" maxlength="3" class="form-control" maxlength="15" ng-model="value.lengthBars">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.lengthBars{{$index}}.$error.required">
                                                                Debe selecionar una longitud en barras
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Ayuda Rápida Campo</p>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <textarea name="quickHelp{{$index}}" maxlength="60" class="form-control" ng-model="value.quickHelp"></textarea>
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.quickHelp{{$index}}.$error.required">
                                                                Debe especificar un importe minimo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- por wiliam que nunca dice nada a tiempo  y todavia no dice las cosas a tiempo 
                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addValue()" class="btn btn-primary center-block son-center">
                                                        Agregar
                                                    </button>
                                                    <button type="button" ng-click="vm.deleteValue($index)" class="btn btn-primary center-block son-center">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Valor -->

                        <!-- Mensaje -->
                        <div class="row" ng-show="vm.stateInformationMessage">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <p class="text-left">Mensaje Informativo</p>
                                    </div>
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="tipo_identificacion" class="col-md-3 control-label">
                                                            <p class="text-left">Mensaje Informativo</p>
                                                        </label>
                                                    <div class="col-md-9">
                                                        <textarea name="informationMessage" maxlength="60" placeholder="Maximo 60 Caracteres" class="form-control" rows="4" ng-model="vm.informationMessage"></textarea>
                                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.informationMessage.$error.required">
                                                            Debe especificar un mensaje informativo
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="father-center">
                                                <button type="button" ng-click="vm.deleteInformationMessage()" class="btn btn-primary center-block son-center">
                                                    Borrar Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mensaje -->

                        <div class="row">
                            <button type="button" class="btn btn-primary center-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
