<ol class="breadcrumb">
    <li><a ui-sref="templateAuth.home">Administrador de Solicitudes</a></li>
    <li class="active">Consulta de solicitudes pendientes</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Solicitudes Pendientes</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table st-table="vm.pendingRequests" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" st-sort="idAgreement" st-sort-default="true">Numero de Solicitud</th>
                        <th class="text-center" st-sort="agreementClass.name">Tipo de Convenio</th>
                        <th class="text-center" st-sort="agreementClass.name">Numero de convenio</th>
                        <th class="text-center" st-sort="relatedParticipants[0].participantId">Numero de Identificación</th>
                        <th class="text-center" st-sort="name">Nombre de Convenio</th>
                        <th class="text-center" st-sort="row.status.dateState">Fecha de Envio</th>
                        <th class="text-center" st-sort="row.status.dateState">Fecha de Rechazo</th>
                        <th class="text-center" st-sort="row.status.dateState">Hora de Rechazo</th>
                        <th class="text-center" st-sort="row.status.dateState">Motivo del Rechazo</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="idAgreement" placeholder="" class="input-sm form-control" type="search" />
                        </th>
                        <th colspan="8">
                            <input st-search placeholder="Busquedad General" class="input-sm form-control" type="search" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="row in vm.pendingRequests">
                        <td>{{row.idAgreement}}</td>
                        <td>{{row.agreementClass.name | limitTo : 3}}</td>
                        <td>{{row.agreementClass.name | limitTo : 7 : 3}}</td>
                        <td>{{row.relatedParticipants[0].participantId}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.status.dateState | date }}</td>
                        <td>{{row.status.dateState | date }}</td>
                        <td>{{row.status.dateState | date:'mediumTime' }}</td>
                        <td>{{row.status.name}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="vm.numberPages"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
