<ol class="breadcrumb">
    <li><a ui-sref="templateAuth.home">Administrador de Solicitudes</a></li>
    <li class="active">Modificación de solicitudes</li>
</ol>

<div class="row father-center">
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.createRequest()">
        Alta de Solicitud
    </button>
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.editRequest()">
        Modificación Solicitud - Convenio
    </button>
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.consultRequest()">
        Consulta Solicitud - Convenio
    </button>
</div>

<br>

<div class="row">
    <div class="col-md-11">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Modificación de solicitud</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="editRequestForm" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tipo_convenio" class="col-md-4 control-label"><p class="text-left">Tipo de Convenio</p></label>
                                <div class="col-md-8">
                                    <select name="typeAgreement" class="form-control" ng-model="vm.typeAgreement" ng-change="vm.changeTypeAgreement()" ng-disabled="vm.stateTypeAgreement">
                                        <option value="">Seleccione una opción</option>
                                        <option ng-repeat="x in vm.typeAgreements" value="{{x.value}}">{{x.nombre}}</option>
                                    </select>
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.typeAgreement.$error.required">Debe selecionar un tipo de convenio</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tipo_identificacion" class="col-md-4 control-label">
                                    <p class="text-left">Tipo de Identificación</p>
                                </label>
                                <div class="col-md-8">
                                    <select name="identificationType" class="form-control" ng-change="vm.changeIdentificationType()" ng-model="vm.identificationType" ng-disabled="vm.stateIdentificacion">
                                        <option value="">Seleccione una opción</option>
                                        <option ng-repeat="x in vm.identificationTypes" value="{{x.value}}">{{x.nombre}}</option>
                                    </select>
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.identificationType.$error.required">Debe selecionar un tipo de Identificación</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tipo_solicitud" class="col-md-4 control-label"><p class="text-left">Tipo de Solicitud</p></label>
                                <div class="col-md-8">
                                    <select name="typeRequest" class="form-control" ng-model="vm.typeRequest" ng-change="vm.changeTypeRequest()" ng-disabled="vm.stateTypeRequest">
                                        <option value="">Seleccione una opción</option>
                                        <option ng-repeat="x in vm.typeRequests" value="{{x.value}}">{{x.nombre}}</option>
                                    </select>
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.typeRequest.$error.required">Debe selecionar una tipo de solicitud</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="numero_identificacion" class="col-md-4 control-label"><p class="text-left">Código Convenio</p></label>
                                <div class="col-md-8">
                                    <input name="agreementCode" type="text" class="form-control" maxlength="7" ng-model="vm.agreementCode" ng-disabled="vm.stateTypeAgreement" ng-required="!vm.stateTypeAgreement">
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.agreementCode.$error.required">Debe especificar un tipo de convenio</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="numero_identificacion" class="col-md-4 control-label"><p class="text-left">Número de Identificación</p></label>
                                <div class="col-md-8">
                                    <input name="identificationNumber" type="text" class="form-control" maxlength="15" ng-model="vm.identificationNumber" ng-disabled="vm.stateIdentificacion" ng-required="!vm.stateIdentificacion">
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.identificationNumber.$error.required">Debe especificar un numero de Identificación</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="numero_solicitud" class="col-md-4 control-label"><p class="text-left">Número de Solicitud</p></label>
                                <div class="col-md-8">
                                    <input name="requestNumber" type="text" class="form-control" maxlength="13" ng-model="vm.requestNumber" ng-disabled="vm.stateTypeRequest" ng-required="!vm.stateTypeRequest">
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.requestNumber.$error.required">Debe especificar un numero de solicitud</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="clase_convenio" class="col-md-4 control-label"><p class="text-left">Clase Convenio</p></label>
                                <div class="col-md-8">
                                    <select name="classAgreement" class="form-control" ng-model="vm.classAgreement" ng-disabled="vm.stateTypeAgreement" ng-required="!vm.stateTypeAgreement">
                                        <option value="">Seleccione una opción</option>
                                        <option ng-repeat="x in vm.classAgreements" value="{{x.value}}">{{x.nombre}}</option>
                                    </select>
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.classAgreement.$error.required">Debe selecionar una clase de convenio</span>
                                </div>
                            </div>

                            <div class="form-group" ng-show="vm.stateVer">
                                <label for="ver" class="col-md-4 control-label">
                                    <p class="text-left">Digito de verificación</p>
                                </label>
                                <div class="col-md-8">
                                    <input name="ver" type="text" class="form-control" maxlength="1" ng-model="vm.ver" ng-required="vm.stateVer">
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.ver.$error.required">Debe especificar un digito de verificación</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="numero_solicitud" class="col-md-2 control-label">
                                    <p class="text-left">Descripción de Convenio </p>
                                </label>
                                <div class="col-md-10">
                                    <textarea name="agreementDescription" class="form-control" rows="3" maxlength="50" ng-model="vm.agreementDescription" ng-disabled="vm.stateDescription" ng-required="!vm.stateDescription" onkeyup="this.value=this.value.toUpperCase();"></textarea>
                                    <span class="control-label error-mensaje" ng-show="!editRequestForm.$pristine && editRequestForm.agreementDescription.$error.required">Debe especificar una descripción de convenio</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group pull-right">
                                        <button type="submit" ng-click="vm.clean()" class="btn btn-primary">Limpiar</button>
                                        <button type="submit" ng-click="vm.continuar()" ng-disabled="!editRequestForm.$valid" class="btn btn-primary">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div cg-busy="vm.myPromise"></div>

<div ng-show="vm.tableData">
    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Solicitudes Rechazadas</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table st-table="vm.requests" st-safe-src="vm.rowCollection" class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center" st-sort="idAgreement" st-sort-default="true">Numero de Solicitud</th>
                                    <th class="text-center" st-sort="agreementClass.name">Tipo de Recaudo</th>
                                    <th class="text-center" st-sort="agreementClass.name">Numero de convenio</th>
                                    <th class="text-center" st-sort="relatedParticipants[0].participantId">Numero de Identificación</th>
                                    <th class="text-center" st-sort="agreementDescription">Descripción</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="idAgreement" placeholder="" class="input-sm form-control" type="search" />
                                    </th>
                                    <th colspan="4">
                                        <input st-search placeholder="Busquedad General" class="input-sm form-control" type="search" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-repeat="row in vm.requests">
                                    <td>{{row.idAgreement}}</td>
                                    <td>{{row.agreementClass.name | limitTo : 3}}</td>
                                    <td>{{row.agreementClass.name | limitTo : 7 : 3}}</td>
                                    <td>{{row.relatedParticipants[0].participantId}}</td>
                                    <td>{{row.agreementDescription}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" class="text-center">
                                        <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="vm.numberPages"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
