<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Pagos PSE
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Convenio PSE</p>
                                    </label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input name="pseAgreement" type="radio" ng-model="vm.pseAgreement" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="pseAgreement" type="radio" ng-model="vm.pseAgreement" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.pseAgreement.$error.required">
                                            Debe selecionar si posee un convenio Pse
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Cupón</p>
                                    </label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input name="coupon" type="radio" ng-model="vm.coupon" ng-value=true>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="coupon" type="radio" ng-model="vm.coupon" ng-value=false>No
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.coupon.$error.required">
                                            Debe selecionar si posee un cupon
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary center-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
