<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Generación Pin
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-3 control-label">
                                        <p class="text-left">Tipo de Pin</p>
                                    </label>
                                    <div class="col-md-9">
                                        <select name="typePin" class="form-control" ng-change="vm.changeTypePin()" ng-model="vm.typePin">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.typePins" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.typePin.$error.required">
                                            Debe selecionar un tipo de pin
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" ng-hide="vm.stateNumeric">
                                <!-- restriccion de cuando es TA no mostrar -->
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label none-padding-right">
                                        <p class="text-left">Algoritmo</p>
                                    </label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input name="algorythm" type="radio" ng-model="vm.algorythm" ng-value='B10'>Base 10
                                        </label>
                                        <label class="radio-inline">
                                            <input name="algorythm" type="radio" ng-model="vm.algorythm" ng-value='B08'>Base 8
                                        </label>
                                        <label class="radio-inline">
                                            <input name="algorythm" type="radio" ng-model="vm.algorythm" ng-value='B06'>Base 6
                                        </label>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.algorythm.$error.required">
                                            Debe selecionar un algoritmo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.stateFixedData">
                            <div ng-repeat="x in vm.fixedDatas">
                                <div class="col-md-offset-1 col-md-10">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <p class="text-left">Dato Fijo {{$index + 1}}</p>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Campo Fijo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="fixedField{{$index}}" type="text" class="form-control" ng-model="x.fixedField">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.fixedField{{$index}}.$error.required">
                                                                Debe especificar campo fijo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                        <p class="text-left">Descripción</p>
                                                    </label>
                                                        <div class="col-md-6">
                                                            <input name="description{{$index}}" type="text" class="form-control" ng-model="x.description">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.description{{$index}}.$error.required">
                                                        Debe especificar una descripción
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Importe Mínimo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="minAmount{{$index}}" type="text" class="form-control" ng-model="x.minAmount">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.minAmount{{$index}}.$error.required">
                                                        Debe especificar el importe minimo
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tipo_identificacion" class="col-md-6 control-label">
                                                            <p class="text-left">Importe Máximo</p>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input name="maxAmount{{$index}}" type="text" class="form-control" ng-model="x.maxAmount">
                                                            <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.maxAmount{{$index}}.$error.required">
                                                                Debe especificar el importe maximo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="father-center">
                                                    <button type="button" ng-click="vm.addFixedData()" class="btn btn-primary center-block son-center">Agregar</button>
                                                    <button type="button" ng-click="vm.deleteFixedData($index)" class="btn btn-primary center-block son-center">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.stateNumeric">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Numérico / Alfanumérico</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="numericAlphanumeric" class="form-control" ng-model="vm.numericAlphanumeric">
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.numericAlphanumerics" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.numericAlphanumeric.$error.required">
                                            Debe especificar el importe minimo
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Número de Dígitos</p>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="NumberDigits" type="text" class="form-control" ng-model="vm.NumberDigits">
                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.NumberDigits.$error.required">
                                            Debe especificar el numero de digitos
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="button" class="btn btn-primary center-block">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
